<div class="container-main">
  <!-- sidebar -->
  <ui-settingSidebar (sidebarToggled)="onSidebarToggled($event)"></ui-settingSidebar>

  <main>
    <!-- profile details -->
    <div class="parking-profile-details">
      <div>
        <div class="parking-icon mb-20">
          <ui-avatar class="mr-10" size="xxl" shape="round" avatarIcon="../../../assets/images/icons/avatar-2.svg" />
        </div>
        <div class="parking-name">
          <div class="details">
            <h2 class="mb-9">Welcome, Test Godowlia Multilevel Parking</h2>
            <p class="medium-p">Manage your info, team, privacy, and security to make Sistem Apps work better <br>for
              you and everyone associated.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- vender-details -->
    <div class="vendor-details">
      <div class="ui-grid gap-20 mt-50">
        <div class="ui-col-6">
          <div class="vendor-container">
            <div class="pb-20 pl-30 pr-30 pt-30">
              <h5 class="mb-15">Vendor Details</h5>
              <p class="regular-p">Basic info, like your name and photo, that you use on
                Sistem Apps</p>
              <div class="vendor-containers mt-20">
                <!-- vendor name -->
                <div class="vendor-inner flex flex-align-items">
                  <p class="regular-p">Vendor</p>
                  <p class="regular-p"><b>Test Vendor</b></p>
                </div>
                <!-- vendor since -->
                <div class="vendor-inner flex flex-align-items">
                  <p class="regular-p">Since</p>
                  <p class="regular-p"><b>Tue 31 Jan 23 09:54AM</b></p>
                </div>
                <!-- vendor email -->
                <div class="vendor-inner flex flex-align-items">
                  <p class="regular-p">Email</p>
                  <p class="regular-p"><b>test.v.com</b></p>
                </div>
                <!-- vendor phone -->
                <div class="vendor-inner flex flex-align-items">
                  <p class="regular-p">Phone</p>
                  <p class="regular-p"><b>908345109 </b></p>
                </div>
              </div>

            </div>
            <div class="vendor-footer pl-25 pr-25 pb-20 pt-20">
              <ui-button label="Edit Profile" variant="text" size="small" />
            </div>
          </div>

          <div class="vendor-container mt-20">
            <div class="pb-20 pl-30 pr-30 pt-30">
              <h5 class="mb-15">Where you’re logged in</h5>
              <p class="regular-p">You’re signed in on these devices or have been in the last 28 days. There might be
                multiple activity sessions from the same device. <a href="#">Learn More</a></p>
              <div class="vendor-containers mt-20">
                <!-- vendor name -->
                <div class="vendor-inner flex flex-align-items">
                  <p class="small-p">2-step verification</p>
                  <p class="regular-p"><b>ON</b></p>
                </div>
                <!-- vendor since -->
                <div class="vendor-inner flex flex-align-items">
                  <span class="small-p">How locations and times are determined?</span>

                </div>

              </div>

            </div>
            <div class="vendor-footer pl-25 pr-25 pb-20 pt-20">
              <ui-button label="Log out of all sessions" variant="text" size="small" />
            </div>
          </div>
        </div>

        <div class="ui-col-6">
          <div class="vendor-container">
            <div class="pb-20 pl-30 pr-30 pt-30">
              <h5 class="mb-15">About Parking</h5>
              <p class="regular-p">Godowlia Multi Level Two-Wheeler Parking is a dedicated two-wheeler parking located
                at
                Godowlia Crossing, On the way to Shree Kashi Vishwanath Temple, Varanasi. It has a capacity of 375
                two-wheelers and has a G+4 steel structure with Police booth and Pumping Station on the ground floor.
              </p>
              <div class="vendor-containers mt-20">
                <!-- vendor name -->
                <div class="vendor-inner flex flex-align-items">
                  <p class="regular-p">Parking Name</p>
                  <p class="regular-p"><b>Test Godowlia Multilevel Parking</b></p>
                </div>
                <!-- vendor since -->
                <div class="vendor-inner flex flex-align-items">
                  <p class="regular-p">Address</p>
                  <p class="regular-p"><b>
                      Godowlia Crossing, Varanasi
                    </b></p>
                </div>
                <!-- vendor email -->
                <div class="vendor-inner flex flex-align-items">
                  <p class="regular-p">Phone</p>
                  <p class="regular-p"><b>test.v.com</b></p>
                </div>
                <!-- vendor phone -->
                <div class="vendor-inner flex flex-align-items">
                  <p class="regular-p">Location</p>
                  <p class="regular-p"><b>
                      lat 83.01 lng 25.31
                    </b></p>
                </div>

                <!-- vendor Operation -->
                <div class="vendor-inner flex flex-align-items">
                  <p class="regular-p">Operation</p>
                  <p class="regular-p"><b>
                      Always Open
                    </b></p>
                </div>

                <!-- Facilities -->
                <p class="regular-p">Facilities</p>
                <div class="ui-grid">
                  <div class="ui-col">
                    <div class="park-fc">
                      <img src="../../assets/images/icons/f1.png" alt="">
                    </div>
                  </div>
                  <div class="ui-col">
                    <div class="park-fc">
                      <img src="../../assets/images/icons/f2.png" alt="">
                    </div>
                  </div>
                  <div class="ui-col">
                    <div class="park-fc">
                      <img src="../../assets/images/icons/f3.png" alt="">
                    </div>
                  </div>
                  <div class="ui-col">
                    <div class="park-fc">
                      <img src="../../assets/images/icons/f4.png" alt="">
                    </div>
                  </div>
                  <div class="ui-col">
                    <div class="park-fc">
                      <img src="../../assets/images/icons/f5.png" alt="">
                    </div>
                  </div>
                </div>
                <!-- photos -->
                <p class="regular-p">Photos</p>
                <div class="ui-grid">
                  <div class="ui-col">
                    <ui-avatar size="xxl" avatarIcon="../../assets/images/icons/avatar-2.svg" />
                  </div>
                  <div class="ui-col">
                    <ui-avatar size="xxl" avatarIcon="../../assets/images/icons/avatar-2.svg" />
                  </div>
                  <div class="ui-col">
                    <ui-avatar size="xxl" avatarIcon="../../assets/images/icons/avatar-2.svg" />
                  </div>
                  <div class="ui-col">
                    <ui-avatar size="xxl" avatarIcon="../../assets/images/icons/avatar-2.svg" />
                  </div>
                  <div class="ui-col">
                    <ui-avatar size="xxl" avatarIcon="../../assets/images/icons/avatar-2.svg" />
                  </div>

                </div>
              </div>
            </div>
            <div class="vendor-footer pl-25 pr-25 pb-20 pt-20">
              <ui-button label="Edit Parking" variant="text" size="small" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>